<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.peodemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PEODemo">
        <activity
            android:name=".DashBoard.profile.profilePageActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.courseGropie.lessonDetailsPage.challengePage.challengePageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DashBoard.courseGropie.lessonDetailsPage.quizPage.questionsPageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DashBoard.courseGropie.lessonDetailsPage.quizPage.quizPageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DashBoard.courseGropie.ModulesPage.ModuleADActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.courseGropie.lessonDetailsPage.lessonDetailsPageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DashBoard.courseGropie.CoursePage.coursePageMainDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.courseGropie.ModulesPage.courseModulesPageActivity"
            android:exported="false" />
        <activity
            android:name=".home.introduction.fragments.ourCourses.checkout.CheckOutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.introduction.fragments.ourCourses.CourseDetails.IntroductionVideo"
            android:configChanges="orientation|keyboard|layoutDirection|screenSize"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".home.introduction.fragments.ourCourses.CourseDetails.courseDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".logPages.TermsAndConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".logPages.RegisterActivitypage"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".logPages.signUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DashBoard.mainDashBoardActivity"
            android:exported="false"
            android:label="@string/title_activity_main_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PEODemo.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".logPages.signInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.introduction.introductionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".welcomeFragments.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>